@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Krona+One&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --roxo: #5D12D2;
    --rosa: pink;
    --branco: #f5f5f5;
    --inter-font: 'Inter', sans-serif;
    --krona-font: 'Krona One', sans-serif;
    --lobster-font: 'Lobster', sans-serif;

    --roxo-topo-svg: rgb(58, 53, 126);
    --azul-final-svg: rgb(62, 103, 191);
}

body {
    height: 100vh;
    background-color: var(--branco); 
    background-image: url(assets/hero.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:contain;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 0 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--branco);
    font-family: var(--lobster-font);
    font-size: 30px;
}

.nav {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, .14);
    border-radius: 25px;
    padding: 1.25rem 2rem;
    position: fixed center;
    z-index: 9;
}

header ul {
    display: flex;
    gap: 1rem;
}

header li a {
    color: var(--branco);
    font-family: var(--inter-font);
    font-size: 20px;
}

/* dark mode button*/

body.dark {
    background: #000000;
}
  
.checkbox {
opacity: 0;
position: absolute;
}

.label {
background-color: var(--branco);
border-radius: 50px;
cursor: pointer;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
position: relative;
height: 26px;
width: 50px;
transform: scale(1.5);

}

.label .ball {
background-color: var(--roxo-topo-svg);
border-radius: 50%;
position: absolute;
top: 2px;
left: 2px;
height: 22px;
width: 22px;
transform: translateX(0px);
transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
transform: translateX(24px);
}

.fa-moon, .fa-sun {
color: var(--azul-final-svg);
}